[Desktop Entry]
Type=Application
Name=DEB Installer
Comment=Install Debian packages with a visual progress bar
Exec=/usr/local/bin/deb-progress-installer.sh %f
Icon=system-software-install
Terminal=false
MimeType=application/vnd.debian.binary-package;application/x-deb;
Categories=System;Utility;
NoDisplay=false



